                                           /*section 1*/
body{
   margin: auto;
}
#header1{
    width: 100%;
    height:4.375rem;
    background-color: #3c3c3b; 
    position:fixed;
    z-index: 1;
}

.section1-div1{
   
    width:100%;
    height: 4.375rem;

}
.logo{
 width: 12.5rem;
height: 4.375rem;
}

.section1-div2{
    width: 25rem;
    height:5.313rem;
    position: relative;
    bottom:6.25rem;
    left: 12.5rem;
}
.ul1{
    position: relative;
    bottom:.5rem;
}

.li1{
    display:inline-block;
    text-decoration: none;
    color: aliceblue;
    position: relative;
    top: 1.25rem;
    padding-left: 0.625rem;
    padding-top: 1.875rem;
    cursor: pointer;
    height:2.375rem ;
    width: 4.688rem;
    text-align: center;
    background-color:#3c3c3b;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .02em;
    font-weight: 600;
    font-size: 0.688rem;
}

 
.li1:hover{
    
    background-color:#4a4f54; 
   
}
.section1-div3{
    width:5rem;
    height: 4.25rem;
    background-color:#3c3c3b;
    position: relative;
    bottom:10.625rem;
    left: 74rem;
    cursor: pointer;
    
}

#icon1{
    position:relative;
    top:1.5rem;
    left: 2.813rem;
    color: #ffffff;
}
.section1-div3:hover{
    background-color:#4a4f54;
}
.section-div4{
    width:5rem;
    height: 4.25rem;
    background-color:#3c3c3b;
    position: relative;
    bottom:14.875rem;
    left:70rem;
    cursor: pointer;


}
#icon2{
    position:relative;
    top:1.5rem;
    left:2.188rem;
    background-color:#4a4f54;
    color:white;
}
.section-div4:hover{
    background-color:#4a4f54;
}
.sec1-last-icon{
    width: 40%;
    height: 1.25rem;
    position: relative;
    left:12.188rem;
    bottom:27.5rem;

}

                                             /*section2*/
.section2{
    width:100%;
    height: 37.5rem;

}
.section2-div1{
    width:100%;
    height: 37.5rem;
    
}
.sec1-img1{
    width:100%;
    height: 37.5rem;

}

.sec2-heading{
font-weight: 700;
font-family: 'Montserrat', sans-serif ;
color:white;
font-size: 2rem;


}
.sec2para2{
    font-weight: 500;
font-family: 'Montserrat', sans-serif ;
color:white;
font-size: .8rem;
padding-top:1.25rem;
padding-left:3.75rem;


}

.sec2-para1{
background-color: rgba(0, 0, 0, 0.613);
width:18.75rem;
height:11.25rem ;
padding-top: 1.625rem;
padding-left:1.875rem;;
position: relative;
bottom:19.688rem;
left:6.25rem;
}
.sec2-mini-heading{
    background-color:#4a4f54;
 
    height: 3.438rem;
    width:15.625rem;
}
#sec1-icon1{
    color: white;
    position: relative;
    bottom:1.688rem;
    left:1.375rem;
}

#sec1-icon2{
    color: #ffffff;
    position:relative;
    left:1.188rem;
    top: 0.938rem;
}

.round-icon{
    width: 3.125rem;
    height: 3.125rem;
    background-color:#4a4f54 ;
    border-radius: 100%;
    position: relative;
    left:75rem;
    bottom: 43.75rem;

}

.round-icon:hover{
    background-color:#3c3c3b;
}

.arrow-icon{
    width: 2.813rem;
    height:3.125rem;
    background-color:#3c3c3b;
    position: relative;
    bottom:19.5rem;
    left:37.5rem;
   
}
#sec1-icon3{
  color:white;
  position: relative;
  left:1rem;
  top:1.563rem;

}
#sec1-icon3:hover{
    color:#3c3c3b;
}
.arrow-icon:hover{
    background-color: #ffffff;
    
}

.sec1-last-div{
    border-radius: 100%;
    height:2.5rem;
    width:3.125rem;
    background-color:black;
    border:solid white;
    position: relative;
    bottom:25.625rem;
    left:6.25rem;

}

#sec1-icon4{
    color:white;
    position: relative;
    left:1.25rem;
    top:0.625rem;
}

.sec1-last-div:hover{
    background-color: #ffffff9a;
}

#sec1-last-div{
    
color: white;
position: relative;
bottom: 0.813rem;
left: 0.188rem;
font-size: 3rem;
}
                                                /*section3*/
#section3{
    
    width:100%;

    height: 15.625rem;
}

.sec3-div1{
    background-color:white;
    height: 15.625rem;
    width:20rem;
    
  
}
.sec3-div2{
    
        background-color: white;
        height:15.625rem ;
        width:20rem;
        position: absolute;
        right: 38.875rem;
        top: 37.5rem;
        
}

.sec3-div3{
    background-color: white;
    height:15.625rem ;
    width: 18.938rem;
    position: absolute;
    right: 19.875rem;
    top: 37.5rem;
}
.sec3-div4{
    background-color:white;
    height:15.625rem ;
    width: 19.75rem;
    position: absolute;
    top: 37.5rem;
    right:0.063rem ;
}

#sec3-icon1 {
    margin-left: 3.75rem;
    margin-top: 4rem;
    font-size: 1.875rem;

}  


.sec3-head1{
    margin-left: 3.125rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif ;

}

.sec3-para1{
    margin-left: 3.125rem;
    font-family: 'Montserrat', sans-serif ;
    font-size: .8rem;
    font-weight: 400;
}


#sec3-icon2{
    margin-left: 4.375rem;
    margin-top: 3.875rem;
    font-size: 1.875rem;
}

.sec3-head2{
    margin-left: 50px;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif ;
}

.sec3-para2{
    margin-left:3.125rem ;
    font-family: 'Montserrat', sans-serif ;
    font-size: .8rem;
    font-weight: 400;
}

#sec3-icon3{
    margin-left:4rem ;
    margin-top:3.875rem ;
    font-size: 1.875rem;
}

.sec3-head3{
    margin-left: 2.688rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif ;
}

.sec3-para3{
    margin-left: 2.688rem;
    font-family: 'Montserrat', sans-serif ;
    font-size: .8rem;
    font-weight: 400;
}

#sec3-icon4{
    margin-left: 4.375rem;
    margin-top: 4rem;
    font-size:1.875rem ;

}

.sec3-head4{
    margin-left: 3.125rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif ;
}

.sec3-para4{
    margin-left: 3.125rem;
    font-family: 'Montserrat', sans-serif ;
    font-size: .8rem;
    font-weight: 400;
}

                                             /*section 4 */
#section4{
    width:100%;
    height:59.375rem ;
    background-color:#f0f0f0;
}

.sec4-main-head{
    color: black;
    font-family: 'Montserrat', sans-serif ;
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 31.25rem;
    padding-top:0.625rem ;
    letter-spacing: 0.188rem;
   
}

.sec4-main-div{
    width:100%;
    height:2.5rem;
    position: relative;
    top:6.25rem;
}



.sec4-img1{
    width:24%;
    height:21.875rem;
   
    position: relative;
    left:6.25rem;
    top:8.125rem;
   
}

.sec4-img2{
    width:24%;
    height: 21.875rem;
  
    position: relative;
    left:28.75rem;
    bottom:13.75rem;
    
}

.sec4-img3{
    width:24%;
    height: 21.875rem;
    
    position: relative;
    left:51.25rem;
    bottom:35.625rem;
    
}

.sec4-img1-div1{
    width:100%;
    height:10.625rem;

}
.sec4-img2-div2{
    width:100%;
    height: 10.625rem;
}


.sec4-hed1{
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif ;
    margin-left: 0.625rem;
}
.sec4-hed1-para1{
    font-size: .8rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif ;
    margin-left: 0.625rem;
}

.sec4-img4{
    width:24%;
    height: 21.875rem;
    
    position: relative;
    left:28.75rem;
    bottom:31.875rem;
  
}

.sec4-img5{
    width:24%;
    height:21.875rem;
    
    position: relative;
    left:6.25rem;
    bottom:53.75rem;
   
   
}

                                                 /*section5*/

#section5{
    width: 100%;
    height: 43.75rem;
    position: absolute;
  

    
}

.sec5-main-div{
    width: 100%;
    height: 5rem;
    position: relative;
    top:5rem ;
    padding-top: 0.5rem;
}

.sec5-main-head{
    color: black;
    font-family: 'Montserrat', sans-serif ;
    font-size: 1.4rem;
    font-weight: 700;
    padding-left:31.25rem ;
    padding-top: 0.625rem;
    letter-spacing:0.188rem ;
   
}

.sec5-img1{
    width:25%;
    height: 21.875rem;
  
    line-height: 2;
    position: relative;
    top: 7.5rem;
    left:5.625rem;
}

.sec5-img1-div1{
    width:100%;
    height: 10.625rem;
}
.sec5-para1{
    font-family: 'Montserrat', sans-serif ;
    font-size: .7rem;
    font-weight: 400;
    padding-left: 0.438rem;
}

.sec5-img2{
    width:26%;
    height:28.125rem ;
  
    line-height: 2;
    position: relative;
    bottom: 14.375rem;
    left:30.313rem;
}

.sec5-para2{
    font-family: 'Montserrat', sans-serif ;
    font-size: .7rem;
    font-weight: 400;
    padding-left:0.563rem ;
}

.sec5-img3{
    width:26%;
    height: 28.125rem;
 
    line-height: 2;
    position: relative;
    bottom: 42.5rem;
    left:55.625rem;
}

.hd{
    width:100%;
    height:0.063rem;
    background-color:black;
    position: relative;
    top: 43.75rem;
}


.button1{
    height: 0.5rem;
    width:0.5rem;
    background-color: #f0f0f0;
    border-radius: 100%;
    cursor: pointer;
    
}

.button1:hover{
    background-color:black;
}
.sec5-icon{
    width:20%;
    height:1.563rem;
    padding-left: 0.625rem;
    position: relative;
    bottom: 43.75rem;
    left: 6.25rem;
    padding-left: 0.188rem;
    
    /* display: flex;
    justify-content: space-between; */
    /* background-color: green; */
   
}
.sec5image{
    width: 0.625rem;
    height: 0.563rem;
}
.sec5image:hover{
 color: #3c3c3b;
}

#gret1{
     font-size: 1rem;
     padding-right: 0.125rem;
}
#greater1{
font-size:.8rem;
padding-right: 0.125rem;
}
/* footer section */
#footer{
    width: 100%;
    height:40.625rem ;
    margin-top: 43.75rem;
}
.our-vehicle{
    width: 12.5rem;
    height: 31.25rem;
    margin-left: 3.75rem;
    
}
.footer1{
    font-size: .8rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding-left: 0.625rem;
    padding-top: 2.5rem;
}

.footer-para1{
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 400;
    padding-left: 0.625rem;
    cursor: pointer;
  
    
}

.footer-para1:hover{
   text-decoration: underline;
}
.Price{
    width:12.5rem;
    height: 37.5rem;
   position: relative;
   left:18.75rem;
   bottom:32.063rem;
}
.ownership{
    width:12.5rem ;
    height: 37.5rem;
   position: relative;
   left:33.75rem;
   bottom:70.375rem;
}
.ABOUT-JAGUAR{
    width: 12.5rem;
    height: 40.75rem;
   position: relative;
   left:48.75rem;
   bottom:108.75rem;
}
.SOCIAL{
    width: 12.5rem;
    height: 37.375rem;
   position: relative;
   left:63rem;
   bottom:150.313rem;
}
#facebook{
    font-size: 1.5rem;
    padding-right: 0.188rem;
}
#facebook:hover{
    color:#4267B2 ;
}

#twitter{
    font-size: 1.5rem;
    padding-right:0.188rem ;
}
#twitter:hover{
   color: #1DA1F2
}

#youtube{
    font-size: 1.5rem;
    padding-right: 0.188rem;
}
#youtube:hover{
    color:red;
}

#instagram{
    font-size: 1.5rem;
    padding-right: 0.188rem;
}
#instagram:hover{
    color:#C13584
}

#linkedin{
    font-size: 1.5rem;
    padding-right: 0.188rem;
}
#linkedin:hover{
    color:#0A66C2;
}

/*list*/
.list-item{
    width: 100%;
    height: 2.5rem;
   
}
.list-item-parg{
display:inline;
padding-left: 0.625rem;
font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 500;
    padding-left: 0.625rem;
    margin-left: 3.125rem;
    padding-top: 0.625rem;
    cursor: pointer;
}
.list-item-parg:hover{
    text-decoration: underline;
}
.last-img{
    width: 0.875rem;
    height: 0.563rem;
    
}
#last-section{
    height: 31.25rem;
    width:100%;
   
    
}
.last-div{
    height:25rem ;
    width:80%;
    margin-left: 6.25rem;
   
    
  
}
.last-para{
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 500;
}